<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordChangeStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiscordChangeStatus.Properties.Settings>
            <setting name="Detail" serializeAs="String">
                <value />
            </setting>
            <setting name="State" serializeAs="String">
                <value />
            </setting>
            <setting name="LargeImageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SmallImageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LargeImageText" serializeAs="String">
                <value />
            </setting>
            <setting name="SmallImageText" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationId" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1Url" serializeAs="String">
                <value />
            </setting>
            <setting name="Button2Url" serializeAs="String">
                <value />
            </setting>
            <setting name="Button1Label" serializeAs="String">
                <value />
            </setting>
            <setting name="Button2Label" serializeAs="String">
                <value />
            </setting>
        </DiscordChangeStatus.Properties.Settings>
    </userSettings>
</configuration>